.cosecant_logo {
    height: 50px;
    width: 150px;
    margin-left: 80px;
}
.navbar2 {
    transform: translatey(-10px);
    -moz-transition: all .3s ease !important;
    -webkit-transition: all .3s ease !important;
    transition: all .3s ease !important;
}
.elementor-sticky-effects.navbar2 {
    height: auto !important;
    transform: translatey(150px);
}
.elementor-sticky-effects.navbar1 {
    display: none !important;
}
.a1 {
    position: relative;
    font-family: 'poppins', sans-serif;
    color: antiquewhite;
    transition: .5s;
}
.a1::after {
    content: "";
    position: absolute;
    background-color: darkorange;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.a1:hover {
    color: cadetblue;
    transform: scale(1.1);
}
.a1:hover::after {
    width: 50%;
}
.service {
    position: relative;
    font-family: 'poppins', sans-serif;
    color: antiquewhite;
    display: inline-block;
}
.service::after {
    content: "";
    position: absolute;
    background-color: darkorange;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.service:hover {
    color: cadetblue;
}
.service:hover::after {
    width: 50%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    color: antiquewhite;
   width: 10rem;
    z-index: 1;
    top: 100%;
    left: 0;
}
.dropdown-content:hover {
    color: orange;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    border-left: 4px solid orange;
}
.service:hover .dropdown-content {
    display: block;
}
.dropdown-content i {
    transform: rotate(-90deg);
}
.submenu {
    position: absolute;
    top: 0;
    display: none;
    background-color: grey;
    color: antiquewhite;
    left: 100%;
    margin: 0;
    padding: 0;
}
.submenu .list {
    position: relative;
}
.dropdown-content a:first-child{
    border-bottom: 1px solid rgb(21, 16, 16);
}
.dropdown-content:hover .submenu {
    display: block;
}
.submenu:hover {
    color: orange;
}
.dropdown-content:hover .submenu2 {
    display: block;
}
ul{
    list-style: none;
}
li {
    margin: 0;
    padding: 0;
}
.about {
    position: relative;
    font-family: 'poppins', sans-serif;
    color: antiquewhite;
    transition: .5s;
}
.about:hover {
    color: cadetblue;
    transform: scale(1.1);
}
.about::after {
    content: "";
    position: absolute;
    background-color: darkorange;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.about:hover::after {
    width: 50%;
}
.submenu1 {
    position: absolute;
    display: none;
}
.about ul li {
    position: relative;
}
.about:hover .submenu1 {
    display: block;
    position: absolute;
    background: grey;
}
.about:hover .submenu1 ul {
    display: block;
    margin-left: -25px;
    margin-top: 20px;
}
.about:hover .submenu1 ul li {
    width: 250px;
    padding: 10px;
    border-bottom: 1px dotted black;
    border-radius: 0;
}
.about:hover .submenu1 ul li:last-child {
    border-bottom: none;
}
.about:hover .submenu1 ul li a:hover {
    color: orange;
}
.submenu2 {
    display: none;
    position: absolute;
}
.hover-me:hover .submenu2 {
    display: block;
    position: absolute;
    margin-left: 233px;
    margin-top: -40px;
    background-color: grey;
}
.submenu1 li:hover  {
    border-left: 5px solid orange;
    margin-left: -7px;
}